$screen-sm: 766px;

$screen-md: 1023px;

$screen-lg: 1024px;

@mixin smallDevices {
  @media only screen and (max-width: $screen-sm) {
    @content;
  }
}

@mixin mediumDevices {
  @media only screen and (min-width: $screen-sm) and (max-width: $screen-md) {
    @content;
  }
}

@mixin largeDevices {
  @media only screen and (min-width: $screen-lg) {
    @content;
  }
}
