@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

body {
  background-image: url(./img/yatusabe.webp);
  background-size: cover;
  height: auto;
  margin: 0;
  background-repeat: no-repeat;
}

.divEpico {
  background-image: url(./img/RICKEPICO.gif);
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: #222222;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.inicio {
  width: 35rem;
  height: 40rem;
  margin-top: 8rem;
  margin-left: 70rem;
  padding: 3rem;
  border-radius: 10px;
  background: linear-gradient(to bottom, white, gray);
}

.titulo {
  color: rgb(107, 212, 7);
  font-size: 3.5rem;
  font-family: "Creepster", cursive;
}

.div {
  margin-top: 10rem;
}

.label {
  display: block;
  margin: 10% 100% 0% 15%;
  font-size: larger;
  font-family: "Creepster", cursive;
  color: rgb(0, 0, 0);
}
.boton {
  margin-top: 4rem;
  width: 10rem;
  padding: 1rem;
  background-image: url(./img/portal.webp);
  background-size: cover;
  color: rgb(2, 27, 0);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: "Creepster", cursive;
}

.boton:hover {
  transform: scale(1.1);
}

.items {
  display: block;
  width: 70%;
  padding: 0.5rem;
  margin: 0 auto;
  background-color: #c7c7c7;
}

.span {
  display: block;
  margin: 0;
  color: rgb(187, 50, 0);
}

.error {
  display: block;
  width: 70%;
  padding: 0.5rem;
  margin: 0 auto;
  background-color: #c7c7c7;
  border: 2px solid red;
}

.right {
  display: block;
  width: 70%;
  padding: 0.5rem;
  margin: 0 auto;
  background-color: #c7c7c7;
  border: 2px solid rgb(7, 180, 1);
}
