.App {
    text-align: center;
   
 
 }
 .Detail-enter {
    opacity: 0;
  }
  
  .Detail-enter-active {
    opacity: 1;
  }
  
  .Detail-exit {
    opacity: 1;
  }
  
  .Detail-exit-active {
    opacity: 0;
  }