.cartas {
  transition: background-color 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.4rem;
  background-color: rgb(4, 191, 197);
  border-radius: 1rem;
  width: 20rem;
  height: 34rem;
  position: relative;
}

.cartasFav {
  transition: background-color 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.4rem;
  background-color: rgb(212, 92, 208);
  border-radius: 1rem;
  width: 20rem;
  height: 34rem;
  position: relative;
}

.img {
  height: 54.9%;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.info {
  font-size: 0.8rem;
  text-align: left;
  color: rgb(235, 246, 255);
  font-weight: bold;
  margin-left: 1rem;
  padding-bottom: 0.3rem;
}
.buttonSection {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1rem;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
}

.fav {
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  background-color: rgb(216, 87, 182);
  padding: 0.4rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: 600;
  font-size: small;
  transition: all 0.5s ease;
  &:hover {
    background-color: rgba(255, 255, 255, 0.944);
    color: rgb(237, 72, 193);
    transform: translateY(-0.3rem);
  }
}

.unFav {
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  background-color: rgba(131, 51, 124, 0.901);
  padding: 0.4rem;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: small;
  transition: all 0.5s ease;
  &:hover {
    background-color: rgba(255, 255, 255, 0.901);
    color: rgb(237, 72, 193);
    transform: translateY(-0.3rem);
  }
}


.close {
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  background-color: rgb(201, 63, 63);
  padding: 0.4rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: 600;
  font-size: small;
  transition: all 0.5s ease;
}
.close:hover {
  background-color: rgb(124, 16, 16);
  color: rgb(255, 255, 255);
  transform: translateY(-0.3rem);
}

.link {
  margin-left: 1rem;
  color: rgb(49, 49, 49);
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.5s ease;
}

.link:hover {
  color: antiquewhite;
}

.span {
  margin-right: 0.4rem;
}
