.cartas {
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgb(91, 193, 237);
  border-radius: 1rem;
  width: 25rem;
  height: 25rem;
  position: relative;
}

.cartasFav {
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgb(216, 139, 255);
  border-radius: 1rem;
  width: 25rem;
  height: 25rem;
  position: relative;
}

.img {
  height: 10rem;
  width: 10rem;
  border-radius: 20%;
  border: 2px solid rgb(13, 130, 166);
}

.info {
  display: flex;
  justify-content: center;
  line-height: 1;
  align-items: center;
  gap: 1.5rem;
  font-size: 0.7rem;
  text-align: center;
  color: rgb(199, 229, 255);
  font-weight: bold;
}

.heart {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.heart:hover {
  top: 0.5rem;
}

.boton {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}

.boton:hover {
  cursor: pointer;
  color: red;
  font-size: 1.7rem;
}

.link {
  color: rgb(93, 93, 93);
  font-size: 1.1rem;
  text-decoration: none;
  transition: color 0.5s ease;
}

.link:hover {
  color: antiquewhite;
}
