.select1{
    height: 1.5rem;
    width: 7rem;
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 10rem;
    top: 0rem;
    color: rgb(40, 40, 40);
}
.select2{
    height: 1.5rem;
    width: 7rem;
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 2rem;
    top: 0rem;
    color: rgb(41, 41, 41);
}
.container{
    position: relative;
  
}


   

