
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&display=swap');


.cartas{
    display: inline-block;
    background: linear-gradient(to bottom, rgb(255, 166, 0), rgb(255, 158, 158));
    width: 23rem;
    height: 23rem;
    margin: 2rem;
    padding: 1rem;
    font-size: medium;
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
    font-family: 'Bebas Neue', sans-serif;;
    font-weight: lighter;

}
.link{
    text-decoration: none;
    color: inherit;
}
.link:hover{
    color: orangered;
}

.info{
    width: 40%;
   text-align: center;
   font-size: 50%;
   background-color: aliceblue;
   padding: 0.5rem;
   border-radius: 1rem;
   position: absolute;
   bottom: 2rem;
   right: 1rem;
   
 
   
}

.info2{
    width: 40%;
    text-align: center;
    font-size: 50%;
    position: absolute;
    bottom: 2rem;
    background-color: aliceblue;
    padding: 0.5rem;
    border-radius: 1rem;
 
    
}

.img{
    width: 10rem;
    border-radius: 100%;
    border: 1px solid black;
}

.span{
    color: orangered;
    font-size: medium;
    margin-right: 1px
}

.boton{
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-family: cursive;

}

.boton:hover{
    background-color: red;
    color: aliceblue;
    border-color: orange;
    
}

.heart{
    position: absolute;
    right: 1rem;
    top: 1rem;
   
}

.heart:hover{
    cursor: pointer;
}
