.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
  background-color: rgb(92, 92, 92);
  height: 5rem;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: auto;
  gap: 6rem;
}

.home {
  background-color: rgb(219, 151, 24);
  border: none;
  border-radius: 14px;
  color: rgb(255, 255, 255);
  height: 1rem;
  width: 4rem;
  height: 1.8rem;
  text-align: center;
  font-size: 0.75rem; 
}

.about {
  background-color: rgb(219, 151, 24);
  border: none;
  border-radius: 14px;
  color: rgb(255, 255, 255);
  height: 1rem;
  width: 4rem;
  height: 1.8rem;
  text-align: center;
  font-size: 0.75rem;
}

.fav {
  background-color: rgb(180, 48, 206);
  border: none;
  border-radius: 14px;
  color: rgb(255, 255, 255);
  height: 1rem;
  width: 4rem;
  height: 1.8rem;
  text-align: center;
  font-size: 0.75rem;
}

.logOut {
  background-color: rgb(180, 30, 30);
  border: none;
  border-radius: 14px;
  color: rgb(255, 255, 255);
  height: 1rem;
  width: 4rem;
  height: 1.8rem;
  text-align: center;
  font-size: 0.75rem;
}

.home:hover {
  transition: background-color 0.8s ease;
  background-color: rgb(133, 101, 12);
  cursor: pointer;
}

.about:hover {
  transition: background-color 0.8s ease;
  background-color: rgb(133, 101, 12);
  cursor: pointer;
}

.logOut:hover{
    transition: background-color 0.8s ease;
    background-color: rgb(110, 19, 19);
    cursor: pointer;
}

.fav:hover{
    transition: background-color 0.8s ease;
    background-color: rgb(117, 33, 93);
    cursor: pointer;
}

.searchBar {
  height: 1.7rem;
  width: 20rem;
  margin-right: 2rem;
}

.add {
  background-color: rgb(94, 202, 0);
  border: none;
  border-radius: 14px;
  color: rgb(255, 255, 255);
  height: 1rem;
  width: 5.5rem;
  height: 2.5rem;
  text-align: center;
  font-size: 0.9rem;
}

.add:hover{
    transition: background-color 0.8s ease;
    background-color: rgb(5, 100, 0);
    cursor: pointer;
}

.search{
  color: white;
  height: 1.3rem;
  width: 4rem;
}

.searchSection{
  display: flex;
  align-items: center;
  justify-content: center;
}