.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
  background-color: rgb(39, 49, 59);
  height: 4.5rem;
  z-index: 1000;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: auto;
  gap: 9rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
}

.home {
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  color: rgba(255, 255, 255, 0.781);
  height: 1rem;
  width: 4rem;
  height: 1.8rem;
  text-align: center;
  font-size: .83rem;

  transition: all 0.8s ease;
}

.about {
  text-decoration: none;
  border: none;
  border-radius: 14px;
  color: rgba(255, 255, 255, 0.781);
  height: 1rem;
  width: 4rem;
  height: 1.8rem;
  text-align: center;
  font-size: .83rem;

  transition: color 0.8s ease;
}

.fav {
  text-decoration: none;
  border: none;
  border-radius: 14px;
  color: rgba(255, 255, 255, 0.781);
  height: 1rem;
  width: 4rem;
  height: 1.8rem;
  text-align: center;
  font-size: .83rem;

  transition: color 0.8s ease;
}

.logOut {
  text-decoration: none;
  border: none;
  border-radius: 14px;
  color: rgba(255, 255, 255, 0.781);
  height: 1rem;
  width: 4rem;
  height: 1.8rem;
  text-align: center;
  font-size: .83rem;

  transition: color 0.8s ease;
}

.home:hover {
  color: aqua;
  cursor: pointer;
}

.about:hover {
  color: aqua;
  cursor: pointer;
}

.logOut:hover {
  color: rgb(223, 72, 72);
  cursor: pointer;
}

.fav:hover {
  color: rgb(203, 67, 165);
  cursor: pointer;
}

.searchBar {
  height: 1.5rem;
  width: 15rem;
  margin-right: 2rem;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.736);
  transition: all 0.5s;
}

.searchBar:hover{
  box-shadow: 2px 2px 10px greenyellow;
}

.add {
  background-color: rgb(56, 216, 152);
  border: none;
  border-radius: 14px;
  color: rgb(255, 255, 255);
  height: 1rem;
  width: 5.5rem;
  height: 2.5rem;
  text-align: center;
  font-size: 0.9rem;
  transition: all 0.8s ease;
}

.add:hover {
  background-color: rgb(91, 250, 194);
  transform: translateY(-0.3rem);
  cursor: pointer;
}

.search {
  color: white;
  height: 1.3rem;
  width: 4rem;
}

.searchSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  text-decoration: none;
}
