@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&display=swap");
@import "../../../styles/mixins.scss";

.navbar {
  height: 2rem;
  background-color: #5a5a5a;
  color: bisque;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 8rem;
  align-items: center;
  @include smallDevices {
   gap: 4rem;
  }
  @include mediumDevices {
    gap: 6rem
  }
}

.navitem2 {
  margin-left: 1rem;
  font-family: "Bebas Neue", sans-serif;
  background-color: rgb(150, 230, 31);
  width: 6rem;
  height: 3rem;
  border-radius: 0.5rem;
}
.navitem2:hover {
  background-color: green;
  color: antiquewhite;
  width: 6rem;
  height: 3rem;
  cursor: pointer;
}

.bar {
  width: 30rem;
  height: 2rem;

  @include smallDevices {
    width: 10rem;
  }
  @include mediumDevices {
    width: 15rem;
  }
}

.home {
  font-family: "Bebas Neue", sans-serif;

  width: 5rem;
  height: 2rem;
  background-color: rgb(19, 196, 196);
  @include smallDevices {
    width: 3rem;
    font-size: 70%;
    height: 1.5rem;
  }
  @include mediumDevices {
    width: 3rem;
    font-size: 70%;
    height: 1.5rem;
  }
}
.navitem {
  font-family: "Bebas Neue", sans-serif;
 
  width: 5rem;
  height: 2rem;

  background-color: rgb(19, 196, 196);
  @include smallDevices {
    width: 3rem;
    font-size: 70%;
    height: 1.5rem;
  }

  @include mediumDevices {
    width: 3rem;
    font-size: 70%;
    height: 1.5rem;
  }
}

.logOut {
  font-family: "Bebas Neue", sans-serif;
  color: aliceblue;

  width: 5rem;
  height: 2rem;
  background-color: rgb(196, 60, 19);
  @include smallDevices {
    width: 3rem;
    font-size: 70%;
    height: 1.5rem;
  }
  @include mediumDevices {
    width: 3rem;
    font-size: 70%;
    height: 1.5rem;
  }
}

.fav {
  font-family: "Bebas Neue", sans-serif;
  color: aliceblue;

  width: 5rem;
  height: 2rem;
  background-color: rgb(170, 19, 196);
  @include smallDevices {
    width: 3rem;
    font-size: 70%;
    height: 1.5rem;
  }
  @include mediumDevices {
    width: 3rem;
    font-size: 70%;
    height: 1.5rem;
  }
}

.home:hover {
  background-color: rgb(28, 28, 172);
  color: white;
  width: 4.9rem;
  height: 1.9rem;
  cursor: pointer;
  @include smallDevices {
    width: 2.9rem;
    height: 1.4rem;
  }
  @include mediumDevices {
    width: 2.9rem;
    height: 1.4rem;
  }
}

.navitem:hover {
  background-color: rgb(28, 28, 172);
  color: white;
  width: 4.9rem;
  height: 1.9rem;
  cursor: pointer;
  @include smallDevices {
    width: 2.9rem;
    height: 1.4rem;
  }
  @include mediumDevices {
    width: 2.9rem;
    height: 1.4rem;
  }
}

.fav:hover {
  background-color: rgb(229, 28, 222);
  width: 4.9rem;
  height: 1.9rem;
  cursor: pointer;
  @include smallDevices {
    width: 2.9rem;
    height: 1.4rem;
  }
  @include mediumDevices {
    width: 2.9rem;
    height: 1.4rem;
  }
}

.logOut:hover {
  background-color: rgb(126, 3, 3);
  width: 4.9rem;
  height: 1.9rem;
  cursor: pointer;
  @include smallDevices {
    width: 2.9rem;
    height: 1.4rem;
  }
  @include mediumDevices {
    width: 2.9rem;
    height: 1.4rem;
  }
}
