@keyframes hr-movil {
  0%,
  100% {
    transform: translate(0);
  }
  50% {
    transform: translate(
      -2rem
    ); /* Puedes ajustar la distancia que se mueve hacia arriba */
  }
}

.title {
  font-family: "Kode Mono", monospace;
  color: antiquewhite;
  font-size: 2rem;
}

.back {
  color: rgb(255, 255, 255);
  font-family: "Kode Mono", monospace;
  text-decoration: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.back:hover {
  transition: all 0.8s ease;
  font-size: 1.2rem;
  border: 1px solid white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.aboutContainer {
  font-weight: bold;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.imagen {
  width: 24rem;
  height: 24rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100%;
}

hr {
  width: 20rem;
  animation: hr-movil 2s ease-in-out infinite;
}

p {
  text-shadow: 10px 10px 10px rgb(131, 131, 131);
}
