@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&display=swap');

.imagen { 
    width: 19rem;
    height: 20rem;
    border-radius: 90%;
    border: solid 2px white;
    margin-right: 5rem
    
}
 .aboutContainer{
    padding-top: 5rem;
    padding-bottom: 5rem;
   display: flex;
   justify-content: center;
   align-items: center;
 }


.p{
    color: aliceblue;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 1;
}

.title{
    color: rgb(182, 221, 255);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.5rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.702);
} 

.padel{
    margin-right: 5rem;
}

hr{
    width: 40rem;
}
 